.container-fluid{
    display: flex ;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-container{
    background: rgb(0 179 221 / 17%);
    padding: 40px 50px;
    border-radius: 15px;
    border: 1px solid #bfe3c3d1;
}