/* Backdrop overlay */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;        
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0); 
  backdrop-filter: contrast(0.7);
  z-index: 10; 
}

/* Loader */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}

@keyframes l7 {
  to { transform: rotate(.5turn) }
}

.brand-logo{
  height: 40px!important;
}
